<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
    <link rel="stylesheet" href="/CSS/filme.css">
</head>
<body>
    <div class="titulo">
        <h1>Sessões</h1>
    </div>

    <a href="/sessoes/novo" class="botao">Cadastrar Sessão</a>

    <div class="flex form">
        <li>
            {{#each sessoes}}
                <ul>
                    Filme: {{#if Filme}}{{Filme.nome}}{{else}}Sem filme{{/if}} <br>
                    Horário: {{#if dataHora}}{{dataHora}}{{else}}Sem horário{{/if}}

                    <form method="POST" action="/sessoes/excluir/{{id}}" style="display:inline;">
                        <button type="submit">Excluir</button>
                    </form>
                </ul>
            {{/each}}
        </li>
    </div>

    <a href="/" class="voltar">Voltar</a>
</body>
</html>